# weights and biases
.wandb/ 
wandb_api_key.txt

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.DS_Store
*.vscode

# C extensions
*.so
*.py~

# Pycharm
.idea

# vim temp files
*.swp

# Sphinx doc
doc/_build/
doc/source/auto_examples/
doc/source/modules/generated/

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.pytest_cache/

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Translations
*.mo
*.pot

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# PyBuilder
target/

#Ipython Notebook
.ipynb_checkpoints
wandb/run-20250416_225742-t89xgqk0/run-t89xgqk0.wandb
wandb/run-20250416_225742-t89xgqk0/files/config.yaml
wandb/run-20250416_225742-t89xgqk0/files/requirements.txt
wandb/run-20250416_225742-t89xgqk0/files/wandb-metadata.json
wandb/run-20250416_225742-t89xgqk0/files/wandb-summary.json
wandb/run-20250416_225918-4krwipu3/run-4krwipu3.wandb
wandb/run-20250416_225918-4krwipu3/files/config.yaml
wandb/run-20250416_225918-4krwipu3/files/requirements.txt
wandb/run-20250416_225918-4krwipu3/files/wandb-metadata.json
wandb/run-20250416_225918-4krwipu3/files/wandb-summary.json
wandb/run-20250416_230223-vpzq77eo/run-vpzq77eo.wandb
wandb/run-20250416_230223-vpzq77eo/files/config.yaml
wandb/run-20250416_230223-vpzq77eo/files/requirements.txt
wandb/run-20250416_230223-vpzq77eo/files/wandb-metadata.json
wandb/run-20250416_230223-vpzq77eo/files/wandb-summary.json
wandb/run-20250417_031242-v7qdmjmq/run-v7qdmjmq.wandb
wandb/run-20250417_031242-v7qdmjmq/files/config.yaml
wandb/run-20250417_031242-v7qdmjmq/files/requirements.txt
wandb/run-20250417_031242-v7qdmjmq/files/wandb-metadata.json
wandb/run-20250417_031242-v7qdmjmq/files/wandb-summary.json
wandb/run-20250417_040431-jl56cxi8/run-jl56cxi8.wandb
wandb/run-20250417_040431-jl56cxi8/files/config.yaml
wandb/run-20250417_040431-jl56cxi8/files/requirements.txt
wandb/run-20250417_040431-jl56cxi8/files/wandb-metadata.json
wandb/run-20250417_040431-jl56cxi8/files/wandb-summary.json
wandb/run-20250417_041024-czpl7w8r/run-czpl7w8r.wandb
wandb/run-20250417_041024-czpl7w8r/files/config.yaml
wandb/run-20250417_041024-czpl7w8r/files/requirements.txt
wandb/run-20250417_041024-czpl7w8r/files/wandb-metadata.json
wandb/run-20250417_041024-czpl7w8r/files/wandb-summary.json
wandb/run-20250417_041323-nnsqfiti/run-nnsqfiti.wandb
wandb/run-20250417_041323-nnsqfiti/files/config.yaml
wandb/run-20250417_041323-nnsqfiti/files/requirements.txt
wandb/run-20250417_041323-nnsqfiti/files/wandb-metadata.json
wandb/run-20250417_041323-nnsqfiti/files/wandb-summary.json
wandb/run-20250417_042255-5fkovf0p/run-5fkovf0p.wandb
wandb/run-20250417_042255-5fkovf0p/files/config.yaml
wandb/run-20250417_042255-5fkovf0p/files/requirements.txt
wandb/run-20250417_042255-5fkovf0p/files/wandb-metadata.json
wandb/run-20250417_042255-5fkovf0p/files/wandb-summary.json
wandb/run-20250417_043013-ude5phou/run-ude5phou.wandb
wandb/run-20250417_043013-ude5phou/files/config.yaml
wandb/run-20250417_043013-ude5phou/files/requirements.txt
wandb/run-20250417_043013-ude5phou/files/wandb-metadata.json
wandb/run-20250417_043013-ude5phou/files/wandb-summary.json
wandb/run-20250417_043254-tzejtfxe/run-tzejtfxe.wandb
wandb/run-20250417_043254-tzejtfxe/files/config.yaml
wandb/run-20250417_043254-tzejtfxe/files/requirements.txt
wandb/run-20250417_043254-tzejtfxe/files/wandb-metadata.json
wandb/run-20250417_043254-tzejtfxe/files/wandb-summary.json
wandb/run-20250417_044621-5y9pfttr/run-5y9pfttr.wandb
wandb/run-20250417_044621-5y9pfttr/files/config.yaml
wandb/run-20250417_044621-5y9pfttr/files/requirements.txt
wandb/run-20250417_044621-5y9pfttr/files/wandb-metadata.json
wandb/run-20250417_044621-5y9pfttr/files/wandb-summary.json
wandb/run-20250417_045011-vltipgit/run-vltipgit.wandb
wandb/run-20250417_045011-vltipgit/files/config.yaml
wandb/run-20250417_045011-vltipgit/files/requirements.txt
wandb/run-20250417_045011-vltipgit/files/wandb-metadata.json
wandb/run-20250417_045011-vltipgit/files/wandb-summary.json
wandb/run-20250417_045107-u87lvngn/run-u87lvngn.wandb
wandb/run-20250417_045107-u87lvngn/files/config.yaml
wandb/run-20250417_045107-u87lvngn/files/requirements.txt
wandb/run-20250417_045107-u87lvngn/files/wandb-metadata.json
wandb/run-20250417_045107-u87lvngn/files/wandb-summary.json
wandb/run-20250423_100601-atc1ntl8/run-atc1ntl8.wandb
wandb/run-20250423_100601-atc1ntl8/files/config.yaml
wandb/run-20250423_100601-atc1ntl8/files/requirements.txt
wandb/run-20250423_100601-atc1ntl8/files/wandb-metadata.json
wandb/run-20250423_100601-atc1ntl8/files/wandb-summary.json
wandb/run-20250423_103029-tnfgsutu/run-tnfgsutu.wandb
wandb/run-20250423_103029-tnfgsutu/files/config.yaml
wandb/run-20250423_103029-tnfgsutu/files/requirements.txt
wandb/run-20250423_103029-tnfgsutu/files/wandb-metadata.json
wandb/run-20250423_103029-tnfgsutu/files/wandb-summary.json
wandb/run-20250423_103131-15rwndl8/run-15rwndl8.wandb
wandb/run-20250423_103131-15rwndl8/files/config.yaml
wandb/run-20250423_103131-15rwndl8/files/requirements.txt
wandb/run-20250423_103131-15rwndl8/files/wandb-metadata.json
wandb/run-20250423_103131-15rwndl8/files/wandb-summary.json
wandb/run-20250423_103619-rdngxolw/run-rdngxolw.wandb
wandb/run-20250423_103619-rdngxolw/files/config.yaml
wandb/run-20250423_103619-rdngxolw/files/requirements.txt
wandb/run-20250423_103619-rdngxolw/files/wandb-metadata.json
wandb/run-20250423_103619-rdngxolw/files/wandb-summary.json
wandb/run-20250423_103659-jc0pox14/run-jc0pox14.wandb
wandb/run-20250423_103659-jc0pox14/files/config.yaml
wandb/run-20250423_103659-jc0pox14/files/requirements.txt
wandb/run-20250423_103659-jc0pox14/files/wandb-metadata.json
wandb/run-20250423_103659-jc0pox14/files/wandb-summary.json
wandb/run-20250423_103726-7cia6py8/run-7cia6py8.wandb
wandb/run-20250423_103726-7cia6py8/files/config.yaml
wandb/run-20250423_103726-7cia6py8/files/requirements.txt
wandb/run-20250423_103726-7cia6py8/files/wandb-metadata.json
wandb/run-20250423_103726-7cia6py8/files/wandb-summary.json
wandb/run-20250423_103959-vvmtgu0o/run-vvmtgu0o.wandb
wandb/run-20250423_103959-vvmtgu0o/files/config.yaml
wandb/run-20250423_103959-vvmtgu0o/files/requirements.txt
wandb/run-20250423_103959-vvmtgu0o/files/wandb-metadata.json
wandb/run-20250423_103959-vvmtgu0o/files/wandb-summary.json
wandb/run-20250423_104434-lglrhoki/run-lglrhoki.wandb
wandb/run-20250423_104434-lglrhoki/files/config.yaml
wandb/run-20250423_104434-lglrhoki/files/requirements.txt
wandb/run-20250423_104434-lglrhoki/files/wandb-metadata.json
wandb/run-20250423_104434-lglrhoki/files/wandb-summary.json
wandb/run-20250423_104612-4fzmh082/run-4fzmh082.wandb
wandb/run-20250423_104612-4fzmh082/files/config.yaml
wandb/run-20250423_104612-4fzmh082/files/requirements.txt
wandb/run-20250423_104612-4fzmh082/files/wandb-metadata.json
wandb/run-20250423_104612-4fzmh082/files/wandb-summary.json
wandb/run-20250423_104847-w6eycryy/run-w6eycryy.wandb
wandb/run-20250423_104847-w6eycryy/files/config.yaml
wandb/run-20250423_104847-w6eycryy/files/requirements.txt
wandb/run-20250423_104847-w6eycryy/files/wandb-metadata.json
wandb/run-20250423_104847-w6eycryy/files/wandb-summary.json
wandb/run-20250423_105321-4wwb3c9p/run-4wwb3c9p.wandb
wandb/run-20250423_105321-4wwb3c9p/files/requirements.txt
wandb/run-20250423_105321-4wwb3c9p/files/wandb-metadata.json
wandb/run-20250423_105419-8cs0utxd/run-8cs0utxd.wandb
wandb/run-20250423_105419-8cs0utxd/files/config.yaml
wandb/run-20250423_105419-8cs0utxd/files/requirements.txt
wandb/run-20250423_105419-8cs0utxd/files/wandb-metadata.json
wandb/run-20250423_105419-8cs0utxd/files/wandb-summary.json
wandb/run-20250423_110025-tvagfyia/run-tvagfyia.wandb
wandb/run-20250423_110025-tvagfyia/files/config.yaml
wandb/run-20250423_110025-tvagfyia/files/requirements.txt
wandb/run-20250423_110025-tvagfyia/files/wandb-metadata.json
wandb/run-20250423_110025-tvagfyia/files/wandb-summary.json
wandb/run-20250423_110949-x57tqk4e/run-x57tqk4e.wandb
wandb/run-20250423_110949-x57tqk4e/files/config.yaml
wandb/run-20250423_110949-x57tqk4e/files/requirements.txt
wandb/run-20250423_110949-x57tqk4e/files/wandb-metadata.json
wandb/run-20250423_110949-x57tqk4e/files/wandb-summary.json
wandb/run-20250423_111314-wauafiuw/run-wauafiuw.wandb
wandb/run-20250423_111314-wauafiuw/files/config.yaml
wandb/run-20250423_111314-wauafiuw/files/requirements.txt
wandb/run-20250423_111314-wauafiuw/files/wandb-metadata.json
wandb/run-20250423_111314-wauafiuw/files/wandb-summary.json
wandb/run-20250423_115915-2vj64nog/run-2vj64nog.wandb
wandb/run-20250423_115915-2vj64nog/files/requirements.txt
wandb/run-20250423_115915-2vj64nog/files/wandb-metadata.json
wandb/run-20250423_120003-4vkj0lt4/run-4vkj0lt4.wandb
wandb/run-20250423_120003-4vkj0lt4/files/config.yaml
wandb/run-20250423_120003-4vkj0lt4/files/requirements.txt
wandb/run-20250423_120003-4vkj0lt4/files/wandb-metadata.json
wandb/run-20250423_120003-4vkj0lt4/files/wandb-summary.json
wandb/run-20250423_171210-udqa0u7z/run-udqa0u7z.wandb
wandb/run-20250423_171210-udqa0u7z/files/config.yaml
wandb/run-20250423_171210-udqa0u7z/files/requirements.txt
wandb/run-20250423_171210-udqa0u7z/files/wandb-metadata.json
wandb/run-20250423_171210-udqa0u7z/files/wandb-summary.json
wandb/run-20250423_191955-1xtga8zg/run-1xtga8zg.wandb
wandb/run-20250423_191955-1xtga8zg/files/config.yaml
wandb/run-20250423_191955-1xtga8zg/files/requirements.txt
wandb/run-20250423_191955-1xtga8zg/files/wandb-metadata.json
wandb/run-20250423_191955-1xtga8zg/files/wandb-summary.json
wandb/run-20250423_193759-5w2wp0l2/run-5w2wp0l2.wandb
wandb/run-20250423_193759-5w2wp0l2/files/requirements.txt
wandb/run-20250423_193759-5w2wp0l2/files/wandb-metadata.json
wandb/run-20250423_194025-kefv6m9g/run-kefv6m9g.wandb
wandb/run-20250423_194025-kefv6m9g/files/config.yaml
wandb/run-20250423_194025-kefv6m9g/files/requirements.txt
wandb/run-20250423_194025-kefv6m9g/files/wandb-metadata.json
wandb/run-20250423_194025-kefv6m9g/files/wandb-summary.json
wandb/run-20250423_195421-cy3hjx7o/run-cy3hjx7o.wandb
wandb/run-20250423_195421-cy3hjx7o/files/config.yaml
wandb/run-20250423_195421-cy3hjx7o/files/requirements.txt
wandb/run-20250423_195421-cy3hjx7o/files/wandb-metadata.json
wandb/run-20250423_195421-cy3hjx7o/files/wandb-summary.json
My_data/unit_64/metaunit_PML_origin.mph
My_data/metaunit_PML_Ex.mph
My_data/metaunit_PML_origin.mph
My_data/metaunit_PML.mph
My_data/SquareUnit.mph
My_data/cross_64/cross_all_64.pt
My_data/cross_64/cross_test_64.pt
My_data/cross_64/cross_train_64.pt
My_data/cross_64/cross900_all_64.pt
My_data/cross_64/cross900_test_64.pt
My_data/cross_64/cross900_train_64.pt
My_data/cross_64/Ex_900.csv
My_data/cross_64/Ex.csv
My_data/cross_64/grid_data.npz
My_data/cross_64/input_900.csv
My_data/cross_64/input.csv
My_data/square_64/Ex.csv
My_data/square_64/input.csv
My_data/square_64/square_all_64.pt
My_data/square_64/square_test_64.pt
My_data/square_64/square_train_64.pt
My_data/square_64/Ex.csv
My_data/square_64/input.csv
My_data/square_64/square_all_64.pt
My_data/square_64/square_test_64.pt
My_data/square_64/square_train_64.pt
My_data/unit_64/Ex_01.csv
My_data/unit_64/input_01.csv
My_data/unit_64/unit_train_64.pt
My_data/unit_64/Ex_01.csv
My_data/unit_64/input_01.csv
My_data/unit_64/unit_train_64.pt
My_data/cross_patch_orgin.mph
MyScript/cross/cross_model_metadata.pkl
MyScript/cross/cross_model_state_dict.pt
MyScript/square/square_model_metadata.pkl
MyScript/square/square_model_state_dict.pt
MyScript/cross/cross_model_metadata.pkl
MyScript/cross/cross_model_state_dict.pt
MyScript/cross/cross_model_metadata.pkl
MyScript/cross/cross_model_state_dict.pt
MyScript/square/square_model_metadata.pkl
MyScript/square/square_model_state_dict.pt
MyScript/square/square_model_metadata.pkl
MyScript/square/square_model_state_dict.pt
neuralop/data/datasets/data/burgers_test_16.pt
neuralop/data/datasets/data/burgers_train_16.pt
neuralop/data/datasets/data/darcy_test_16.pt
neuralop/data/datasets/data/darcy_test_32.pt
neuralop/data/datasets/data/darcy_train_16.pt
neuralop/data/datasets/data/burgers_test_16.pt
neuralop/data/datasets/data/burgers_train_16.pt
neuralop/data/datasets/data/darcy_test_16.pt
neuralop/data/datasets/data/darcy_test_32.pt
neuralop/data/datasets/data/darcy_train_16.pt
MyScript/useless/unit_train_64.pt
neuralop/data/datasets/data/burgers_test_16.pt
neuralop/data/datasets/data/burgers_train_16.pt
neuralop/data/datasets/data/darcy_test_16.pt
neuralop/data/datasets/data/darcy_test_32.pt
neuralop/data/datasets/data/darcy_train_16.pt
neuralop/data/datasets/data/burgers_test_16.pt
neuralop/data/datasets/data/burgers_train_16.pt
neuralop/data/datasets/data/darcy_test_16.pt
neuralop/data/datasets/data/darcy_test_32.pt
neuralop/data/datasets/data/darcy_train_16.pt
neuralop/data/datasets/data/burgers_test_16.pt
neuralop/data/datasets/data/burgers_train_16.pt
neuralop/data/datasets/data/darcy_test_16.pt
neuralop/data/datasets/data/darcy_test_32.pt
neuralop/data/datasets/data/darcy_train_16.pt
neuralop/data/datasets/data/burgers_test_16.pt
neuralop/data/datasets/data/burgers_train_16.pt
neuralop/data/datasets/data/darcy_test_16.pt
neuralop/data/datasets/data/darcy_test_32.pt
neuralop/data/datasets/data/darcy_train_16.pt
